<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snacks in a Van</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans&display=swap" rel="stylesheet"> 
</head>
<script>
        function saveCart(){
            // get the food object IDs from local storage
            document.getElementById("cart").value = JSON.parse(JSON.stringify(localStorage.getItem("cart")));

            //alert( document.getElementById("favs").value)
            // clear local storage (WARNING: I am assuming that only my app is using the local storage!!!)
            localStorage.clear();

            // submit a hidden form with the food ids. You could use fetch to submit the data to API as well.
            document.getElementById("logoutform").submit();
                        
        }        
    </script>
<body>
    <nav>
        <ul>
            <li><a href="/customer">Home</a></li>
            <li><a href="/customer/snacks">Menu</a></li>
            <li><a href="/customer/607efeccaae89387de7663b4/cart">Cart</a></li>
            <li><a href="/customer/getLoginPage">Login</li></a>
        </ul>
    </nav>
    <main>
        <section style="text-align:right;">
            <a href="/customer/getLoginPage">Login</a>&nbsp; | &nbsp;<a href="/customer/getSignUpPage">Sign Up</a>&nbsp; | &nbsp;<a href="javascript:void(0);" onclick="saveCart();">Logout</a>
        </section>
        {{{body}}}
    </main>
    <footer>
        <p>an INFO30005 project</p>
        <a href="/customer">Home</a> | 
        <a href="">Order details</a> | 
        <a href=""> Profile</a>
    </footer>
    <form method="post" action="/customer/logout" id="logoutform">
        <input type="hidden" name="cart" id="cart"/>
    </form>
</body>
</html>