<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snacks in a Van</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href=<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1> <a href="/customer">SNACKS IN A VAN</a> </h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>an INFO30005 project</p>
        <a href="/customer">Home</a> | 
        <a href="">Order details</a> | 
        <a href=""> Profile</a>
    </footer>
</body>
</html>