<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snacks in a Van</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans&display=swap" rel="stylesheet"> 
</head>
<body>
    <nav>
        <ul>
            <li><a href="/customer">Home</a></li>
            <li><a href="/customer/snacks">Menu</a></li>
            <li><a href="/customer/607efeccaae89387de7663b4/cart">Cart</a></li>
            <li><a href="/customer/login">Login</li></a>
        </ul>
    </nav>
    <main>
        {{{body}}}
    </main>
</body>
</html>