{{!-- main page homepage for better presentation --}}
<h1> Welcome </h1>
<p>This is a project to create web apps for 'Snacks in A Van' a new startup company operating in Melbourne.<br>
There will be 2 web apps, one for the customers and one for the vendors.</p>