<section id="editProfile">
    <h1>Edit Profile</h1>
    <form method="post" action="/customer/edit-profile">
    <div class="container">
      
      <label for="gname">Given Name</label>
      <input placeholder="Given Name" name='nameGiven' id='nameGiven' value={{givenname}}></input>

      <label for="fname">Family Name</label>
      <input placeholder="Family Name"  name='nameFamily' id='nameFamily' value={{familyname}}></input>

      <input type="submit" value="SAVE">
      <a href="/customer/profile">Cancel</a>
    </div>
    </form>
</section>