<section id="homePage">
    
        <div class="col1">
            <h1>Snacks in a Van</h1>
            <hr>
            <p>
                Lorem, ipsum dolor sit amet consectetur dsfgd adipisicing elit.
                Commodi eaque aperiam htrg labobrum ratione ipsa expedita
                asperiores minima animi adipisci dicta!
            </p>
            <button onclick="location.href = '/customer/snacks'">ORDER NOW</button>
        </div>
        
        <div class="col2">
            <img src="https://pngimg.com/uploads/mug_coffee/mug_coffee_PNG16824.png">
        </div>
        
</section>
