<section id="homePage">
    
        <div class="col1">
            <h1>Snacks in a Van</h1>
            <hr>
            <p>
                Welcome! This is a project to create web apps for 'Snacks in A Van' a new startup company operating in Melbourne.
                There will be 2 web apps, one for the customers and one for the vendors.
            </p>
            <button onclick="location.href = '/customer/snacks'">ORDER NOW</button>
        </div>
        
        <div class="col2">
            <img src="https://pngimg.com/uploads/mug_coffee/mug_coffee_PNG16824.png">
        </div>
        
</section>
