<section id="homePage">

    <section id="vanImage">
        <img class="homePage" src="https://i.imgur.com/XHI6YMI.png">
    </section>
    
    <h1>Snacks in a Van</h1>

    
    
    {{!Display the "find a van" button}}
    <form method="get" action="/find-van">
        <input type="submit" value="Find a Van">
    </form>

    {{!Display the "login" button}}
    <form method="get" action="/login">
        <input type="submit" value="Login">
    </form>

    {{!Display the "sign up here" button}}
    <p><a href="/">Sign Up Here</a></p>
    
</section>
