<section id="snacksMenu">
    <h1> Menu List</h1>
    <form method="post" action="/search">
        <!--<input type="search" size="10" name="snack" placeholder="Search">
        <button type="submit"><i class="fa fa-search"></i></button>!-->
    </form>

    <div class="snacks-menu">

        <div class="row">

            {{#each snacks}}

            <div class="snack">
                <div class="snack-img">
                    <img src="https://source.unsplash.com/{{this.photo}}">
                </div>

                <div class="snack-body">
                    <h2 class="snack-name">
                        <a href="/customer/snacks/{{this.name}}">{{this.name}}</a>
                        </p>
                    </h2>

                    <div class="snack-price">
                        <span class="price">${{this.price}}</span>
                    </div>

                </div>
            <!--<form action="/action_page.php"></form>
                <input class="itemQuantity" type="number" id="quantity" name="quantity" min="1"> {{! change css}}
                <button type="submit">Add to Cart</button>
            </form>-->

            </div>

            {{/each}}
            
        </div>

        

    </div>

</section>