<section id="profile">
    <h1>Your Profile</h1>
    <div class="container">
        <div>Family Name: {{familyname}}</div>
        <div>Given Name: {{givenname}}</div>
        <div>ID/Email: {{email}}</div>
    <button onclick="location.href = '/customer/edit-profile'">EDIT PROFILE</button>
    </div>
    
</section>