<section id="profile">
    <h1>Your Profile</h1>
    <div class="container">
        <div><label>Family Name: </label><label for="value">{{familyname}}</label></div>
        <div><label>Given Name: </label><label for="value">{{givenname}}</label></div>
        <div><label>Email: </label><label for="value">{{email}}</label></div>
    <button onclick="location.href = '/customer/edit-profile'">EDIT PROFILE</button>
    <button onclick="location.href = '/customer/change-password'">CHANGE PASSWORD</button>
    </div>
    
</section>