<section id="signup">
    <h1>Signup Form</h1>
    <p>{{message}}</p><br>
    <form method="post" action="/customer/signup">
        <table>
          <tr>
            <td>Email:</td>
            <td> <input placeholder="username" name='email' id='email' value=""/></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input placeholder="***************" type="password" name='password' id='password' value=""/></td>
          </tr>
          <tr>
            <td>Family Name:</td>
            <td><input placeholder="family name" name='nameFamily' id='nameFamily' value=""/></td>
          </tr>
          <tr>
            <td>Given Name:</td>
            <td><input placeholder="given name" name='nameGiven' id='nameGiven' value=""/></td>
          </tr>
          <tr>
            <td colspan="2"><center><input type="submit" value="Submit"></center></td>
          </tr>
        </table>

    </form>

</section>