{{#if message}}<div class="alert alert-warning" role="alert">
    {{message}}
</div>
{{/if}}

<section id="login">
    <div class="container">
        <div class="row justify-content-md-center mt-4">
            <div class="col-xl-3 col-lg-5 col-md-8">
                <form method="post" action="/vendor/login">
                    <div class="mb-3">
                        <h1>Login</h1>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Van name</label>
                        <input type="text" class="form-control" id="email" placeholder="Van Name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" size="10" class="form-control" id="password" name="password"
                            placeholder="Password">
                    </div>
                    <div class="d-grid gap-2 mt-3">
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>