<h1> Location Updated!</h1><br>
<p>Van Name: {{oneVan.name}}</p>
<p>Location: {{oneVan.location}}</p>
<p>Location Description: {{oneVan.location_description}}</p>
<p>Open?
    {{#if oneVan.ready_for_order}} Ready for order!
    {{else}} Currently closed {{/if}}</p><br>
<p><a href="/vendor/location"> Back to Update Location</a></p>