
/* the homepage css for customer app */

#homePage .col1{
    position:relative;
    top: 27vh;
    left: 10%;
    width: 33%;
}

#homePage .col1 h1{
    font-size: 60px;
    font-family: 'Orelega One', cursive;
    text-align: left;
}

#homePage .col1 hr{
    margin-top: 30px;
    width: 20%;
    height: 6px;
    background: #000;

}

#homePage .col1 p{
    margin-top: 30px;
    font-size: 16px;
    text-align: left;
}

#homePage .col1 input[type="button"]{
    margin-top: 20px;
    margin-bottom: 25px;
    border-radius: 20px;
    background: #dfa167;
    border: none;
    outline: none;
    letter-spacing: .04em;
    font-size: 23px;
    font-family: 'Raleway', sans-serif;;
    padding: 15px 15px;
    width: 250px; 
}

#homePage form {
    display: block;
}

#homePage .col1 input[type="button"]:hover{
    background: #966c45;
}



#homePage .col1  p {
    flex-basis: 60%;
}
#homePage .col2 img {
    position:fixed;
    top: 150px;
    right: 100px;
    max-width: 50%;
}