/* this css page is for customer page */

/* central area to control type and colour */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  --text-big: 36px;
  --text-medium: 22px;
  --text-small: 16px;
  --font-heading: "Roboto", sans-serif;
  --font-body: "Work Sans", cursive;
  --color-dark: #24305e;
  --color-purple: #374785;
  --color-blue: #a8d0e6;
  --color-pink: #f76c6c;
  --color-pinkhover: #f3a9a9;
  --color-yellow: #f8e9a1;
  --color-beige: #e9d6cd;
}

a {
  color: var(--color-dark);
  font-family: "Raleway", sans-serif;
}

p {
  text-align: center;
}

section {
  padding-right: 10px;
}

li {
  padding: 20px;
}

a:hover {
  border: 10px;
  background-color: #dfa167;
  color: white;
}

ul {
  display: inline;
  list-style: none;
}

ul li {
  display: inline-block;
  padding: 30px;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
  text-decoration: none;
}
/* elements that are on every page */
body {
  width: 100%;
  height: 100vh;
  font-family: var(--font-body);
  font-size: var(--text-medium);
  background-color: var(--color-beige);
  color: var(--color-dark);
  margin-bottom: 10%;
}

footer {
  text-align: center;
  justify-content: center;
  margin-bottom: 0;
  width: 100%;
  bottom: 0;
  height: 50px;
  padding-top: 50px;
}

form {
  /* centre the form */
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1%;
}

form input[type$="text"] {
  width: auto;
  margin-bottom: 2%;
  font-size: var(--text-small);
}

form input[type$="submit"] {
  margin-top: 20px;
  background: #dfa167;
  border: none;
  outline: none;
  letter-spacing: 0.04em;
  font-size: 15px;
  padding: 15px 15px;
  width: 50%;
}

form span.bigScreen {
  /* on small screens, hide some of the wording */
  display: none;
}

h1 {
  font-family: "Orelega One", cursive;
  text-align: center;
  letter-spacing: 3px;
}

input[type$="submit"] {
  background: #966c45;
  border: none;
  outline: none;
  letter-spacing: 0.04em;
  font-size: 15px;
  padding: 15px 10px;
  width: 20em;
}

input[type$="submit"]:hover {
  background: #966c45;
  margin-top: 20px;
  border: none;
  outline: none;
  letter-spacing: 0.04em;
  font-size: 15px;
  padding: 15px 10px;
  width: 50%;
}

button {
  margin-top: 5px;
  margin-bottom: 25px;
  border-radius: 20px;
  background: #dfa167;
  border: none;
  outline: none;
  letter-spacing: 0.04em;
  font-size: 15px;
  padding: 15px 15px;
  width: 200px;
}

button:hover {
  margin-top: 5px;
  margin-bottom: 25px;
  border-radius: 20px;
  background: #966c45;
  border: none;
  outline: none;
  letter-spacing: 0.04em;
  font-size: 15px;
  padding: 15px 15px;
  width: 200px;
}

/* top navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  background-color: transparent;
}

.brand-logo a {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  padding: 1rem;
}

.navbar-links li:hover {
  color: var(--color-purple);
}

.menu-toggle {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.menu-toggle .bar {
  height: 3px;
  width: 100%;
  background-color: var(--color-dark);
  border-radius: 10px;
}

/* the nearest van page */
#nearestVan {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nearestVan h1 {
  text-align: center;
  font-family: "Orelega One", cursive;
  font-size: var(--text-big);
  padding-bottom: 30px;
}

#nearestVan .row {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#nearestVan .container {
  width: 500px;
  height: 700px;
  text-align: center;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 40px 30px;
  margin-right: 50px;
}

#nearestVan input {
  display: block;
  margin: 10px auto;
  width: 70%;
  padding: 10px 20px;
  border-radius: 50px;
  border: 2px solid grey;
  background-color: transparent;
  color: black;
  margin-bottom: 20px;
}

#nearestVan p {
  font-size: var(--text-small);
  text-align: left;
}

#nearestVan input:focus {
  outline: none;
}

#nearestVan .btn {
  margin: 0px;
  border: 0;
  padding: 10px 30px;
  border-radius: 50px;
  background-color: #dfa167;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-bottom: 30px;
}

#nearestVan a {
  text-decoration: underline;
  color: var(--color-dark);
}

#nearestVan label {
  display: block;
  margin-bottom: 0;
  margin-top: 5px;
  font-size: smaller;
}

/* The homepage for customer app */

#homePage .col1 {
  position: relative;
  top: 10vh;
  left: 10%;
  width: 33%;
}

#homePage .col1 h1 {
  font-size: 60px;
  font-family: "Orelega One", cursive;
  text-align: left;
}

#homePage .col1 hr {
  margin-top: 30px;
  width: 20%;
  height: 6px;
  background: #000;
}

#homePage .col1 p {
  margin-top: 30px;
  font-size: 16px;
  text-align: left;
}

#homePage .col1 input[type="button"] {
  margin-top: 20px;
  margin-bottom: 25px;
  border-radius: 20px;
  background: #dfa167;
  border: none;
  outline: none;
  letter-spacing: 0.04em;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  padding: 15px 15px;
  width: 250px;
}

#homePage form {
  display: block;
}

#homePage .col1 input[type="button"]:hover {
  background: #966c45;
}

#homePage .col1 p {
  flex-basis: 60%;
}
#homePage .col2 img {
  position: fixed;
  top: 150px;
  right: 100px;
  max-width: 50%;
}

/* The menu */

#snacksMenu img {
  max-width: 100%;
  height: auto;
}

#snacksMenu a {
  color: var(--color-purple);
  text-decoration: none;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

#snacksMenu a:hover {
  color: #888;
  text-decoration: none;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

#snacksMenu button {
  border-radius: 12px;
  background: var(--color-pink);
  color: var(--color-beige);
  font-size: var(--text-small);
  border: none;
  width: 5px;
}

#snacksMenu button:hover {
  background: var(--color-pinkhover);
}

#snacksMenu .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#snacksMenu h1 {
  text-align: center;
  padding: 20px;
  font-family: "Orelega One", cursive;
  font-size: 40px;
}

#snacksMenu .snack {
  padding: 20px;
  margin-top: -1px;
  margin-bottom: 0;
  margin-right: -1px;
}

#snacksMenu .snack-img {
  text-align: center;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
  border-radius: 10%;
  width: 250px !important;
  height: 200px;
  vertical-align: middle;
  border: 0;
}

#snacksMenu .snack-img:hover{
  opacity: 0.3;
}

#snacksMenu .snack-body {
  box-sizing: border-box;
}

#snacksMenu .snack-name {
  font-size: var(--text-small);
  text-transform: uppercase;
  font-weight: 700; /* bold */
  font-family: var(--font-heading);
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
  display: block;
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#snacksMenu .snack-body {
  font-size: var(--text-small);
  font-weight: 400; /* regular */
  font-family: var(--font-heading);
  box-sizing: border-box;
  margin-bottom: 15px;
}

#snacksMenu .itemQuantity {
  width: 15%;
}

#snacksMenu ul {
  column-count: 2;
}

/* cart */

#currentCart h1 {
  text-align: center;
  font-family: "Orelega One", cursive;
  font-size: 40px;
}

#currentCart li {
  list-style-type: none; /* turn off the bullet points */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#currentCart img {
  width: 150px;
  padding: 10px;
  border-radius: 50%;
}

#currentCart .cart-page {
  margin: 80px auto;
}

#currentCart table {
  width: 60%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
#currentCart form{
  width:50%;
}

#currentCart th {
  text-align: left;
  padding: 5px;
  background: var(--color-pink);
  color: var(--color-beige);
}
#currentCart td {
  padding: 10px 5px;
}

#currentCart .cart-info {
  display: flex;
  flex-wrap: wrap;
}

#currentCart .total-price {
  display: flex;
  flex-wrap: nowrap;
  justify-content:center;
  width:100%;
}

#currentCart .total-price table {
  border-top: 3px solid;
  width: 60%;
}
#currentCart .total-price table td:last-child{
  text-align:right;
}

#currentCart input[type="submit"] {
  border-radius: 12px;
  background: var(--color-pink);
  color: var(--color-beige);
  font-size: var(--text-small);
  padding: 10px;
  border: none;
  float: right;
  width:auto;
}

#currentCart input[type="submit"]:hover {
  background: var(--color-pinkhover);
}

#currentCart button {
  width:auto;
  border-radius: 12px;
  background: var(--color-pink);
  color: var(--color-beige);
  font-size: var(--text-small);
  margin-top:40px;
  padding: 10px;
  border: none;
  float: right;
}

#currentCart button:hover {
  background: var(--color-pinkhover);
}

#currentCart input[type="button"] {
  border-radius: 12px;
  background: var(--color-pink);
  color: var(--color-yellow);
  font-size: var(--text-small);
  border: none;
}

#currentCart input[type="button"]:hover{
  background: var(--color-pinkhover)
}

/* layout for snack details */

#snackDetails .Price {
  text-align: center;
  letter-spacing: 2px;
  font-size: var(--text-medium);
  text-transform: uppercase;
  font-weight: 700; /* bold */
  font-family: "Raleway", sans-serif;
}

#snackDetails a {
  font-size: var(--text-small);
  text-decoration: underline;
}

#snackDetails p {
  font-size: var(--text-small);
  margin-top: 10px;
}

#snackDetails .Price {
  text-align: center;
  font-size: var(--text-medium);
  text-transform: uppercase;
  font-weight: 700; /* bold */
  font-family: var(--font-heading);
  margin-top: 30px;
}

#snackDetails .container {
  width: 100%;
  height: 100vh;
  align-items: center;
  padding: 40px 30px;
}

#snackDetails .detail {
  text-justify: center;
}
#snackDetails h1 {
  padding: 10px;
  text-align: center;
  font-family: "Orelega One", cursive;
  font-size: 40px;
  margin-top: 30px;
}

#snackDetails img {
  width: 350px;
  border-radius: 50%;
}

#snackDetails input {
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 20px;
  background: #b9a48f;
  border: none;
  outline: none;
  letter-spacing: 0.04em;
  font-size: 15px;
  padding: 15px 15px;
}

#login a, p{
  font-size: var(--text-small);
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addcart-modal, .order-modal{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
  overflow: auto;
}

.modal-content {
  width: 500px;
  height: 250px;
  background-color: #dfa167;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
}

.close, .close2 {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  cursor: pointer;
}

#login h1,
#signUp h1,
#editProfile h1,
#profile h1 {
  text-align: center;
  font-family: "Orelega One", cursive;
  font-size: var(--text-big);
  padding-bottom: 30px;
}

#login .container,
#signUp .container,
#editProfile .container,
#profile .container {
  width: 500px;
  height: auto;
  text-align: center;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  margin-left: auto;
  margin-right: auto;
}

#login label,
#signUp label,
#editProfile label,
#profile label {
  display: block;
  margin-bottom: 0;
  margin-top: 5px;
  font-size: var(--text-small);
}

#editProfile a {
  font-size: var(--text-small);
  text-decoration: underline;
}
#profile label[for$="value"] {
  font-size: smaller;
  display: block;
  margin: 10px auto;
  margin-bottom: 30px;
  width: 70%;
  padding: 10px 20px;
  border-radius: 50px;
  border: 2px solid rgb(187, 185, 185, 0.5);
  background-color: transparent;
  color: var(--color-dark);
}

#login input,
#signUp input,
#editProfile input {
  display: block;
  margin: 10px auto;
  margin-bottom: 30px;
  width: 70%;
  padding: 10px 20px;
  border-radius: 50px;
  border: 2px solid grey;
  background-color: transparent;
  color: black;
  font-size: var(--text-small);
}

#login input[type$="submit"],
#signUp input[type$="submit"],
#editProfile input[type$="submit"] {
  background: #dfa167;
  border: none;
  outline: none;
  letter-spacing: 0.04em;
  font-size: 15px;
  padding: 15px 10px;
  width: 50%;
  margin-top: 50px;
}

#login input[type$="submit"]:hover,
#signUp input[type$="submit"]:hover,
#editProfile input[type$="submit"]:hover {
  background: #966c45;
  border: none;
  outline: none;
  letter-spacing: 0.04em;
  font-size: 15px;
  padding: 15px 10px;
  width: 50%;
}

#OrderHistory {
  font-family: "Raleway", sans-serif;
  font-size: 70%;
  border-collapse: collapse;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#OrderHistory td,
#OrderHistory th {
  border: 1px solid #ddd;
  padding: 8px;
}

#OrderHistory tr:nth-child(even) {
  background-color: #f2f2f2;
}

#OrderHistory tr:hover {
  background-color: #ddd;
}

#OrderHistory th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--color-pink);
  color: white;
}

#currentCart a {
  font-size: var(--text-small);
  text-decoration: underline;
}

#OrderDetails {
  font-family: "Raleway", sans-serif;
  border-collapse: collapse;
}

#OrderDetails .orderid {
  text-align: center;
  font-size: 70%;
  padding: 15px;
}

#OrderDetails .container {
  width: 70%;
  overflow: hidden;
  margin: auto;
}

#signUp p {
    font-size: 12px;
    margin-top: -20px;
    margin-bottom: 60px;
}

#signUp h1{
    text-align: center;
    font-family: 'Orelega One', cursive;
    font-size:var(--text-big);
    padding-bottom: 30px;
}

#OrderDetails .flex-direction {
  flex-direction: row;
}

#OrderDetails .summary {
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  float: left;
}

#OrderDetails .status {
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  float: right;
}

#OrderDetails .section-title {
  font-family: "Orelega One", cursive;
  font-size: var(--text-medium);
  padding-bottom: 20px;
}

#OrderDetails li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  font-size: 70%;
}

#OrderDetails .col-1 {
  flex-basis: 50%;
}
#OrderDetails .col-2 {
  flex-basis: 25%;
}
#OrderDetails .col-3 {
  flex-basis: 25%;
}
#OrderDetails .total {
  background-color: #e9d6cd;
}
#OrderDetails .notice {
  font-size: 70%;
  padding-bottom: 10px;
}
#OrderDetails .bullet {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
  line-height: 20px;
  font-size: 70%;
  text-align: center;
  align-items: center;
}
#OrderDetails .step {
  display: flex;
}
#OrderDetails .step-text {
  flex-grow: 1;
  margin-left: 5px;
  font-size: 70%;
  align-items: center;
  padding-left: 5px;
  padding-bottom: 10px;
}
#OrderDetails .step-text-button {
  width: 100px;
  padding: 10px;
}

#OrderDetails .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

/* Responsive Design */

/* Phone Size */
@media screen and (max-width: 375px) {

}

/* Tablet Size */
@media screen and (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-toggle {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  #login .container {
    width: 300px;
  }

  #homePage .col2 img {
    width: 100%;
    position: sticky;
    max-width: 100%;
    z-index: -1;
  }

  #homePage .col1 {
    position: relative;
    top: 13vh;
    left: 10%;
    width: 63%;
  }

  #nearestVan {
    display: block;
  }

  #OrderDetails .container {
    width: 100%;
  }

  #OrderDetails .summary,
  #OrderDetails .status {
    display: block;
    float: none;
    width: 100%;
    padding: 20px;
  }
}

@media screen and (max-width: 700px) {
  #OrderDetails .flex-direction {
    flex-direction: column;
  }
}

#passwordreq {
  font-size: 60%;
}

#passwordalert {
  color: red;
  text-align: left;
  font-size: 70%;
}
