
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {  
    --color-primary:#dfa167;
    --color-primary-hover:#af7d4f;
    --color-primary-click:#7c5939;
    --text-big: 36px;
    --text-medium: 22px;
    --text-small: 16px;
    --font-heading: 'Roboto', sans-serif;
    --font-body: 'Work Sans', cursive;
    --color-dark: #24305E;
    --color-purple: #374785;
    --color-blue: #A8D0E6;
    --color-pink: #F76C6C; 
    --color-pinkhover: #f3a9a9;
    --color-yellow: #F8E9A1;
    --color-beige: #e9d6cd;
}

a{
    color: var(--color-dark);
    font-family: 'Raleway', sans-serif;
}


a:hover{
    border: 10px;
    background-color:#dfa167;
    color: white;
}

p{
    font-family: 'Raleway', sans-serif;
}

h1{
    font-family: 'Orelega One', cursive;
}

.bg-light{
    background-color: var(--color-primary) !important;
}

.body-bg{
    background-color: var(--color-beige);
}

.btn-primary{
    background-color: var(--color-primary);
    border: hidden;
  }
  
.btn-primary:hover{
background-color: var(--color-primary-hover);
border: hidden;
}

.btn-primary:active{
    background-color: var(--color-primary-click);
    border: hidden;
    }

.btn-primary:focus{
    background-color: var(--color-primary-click);
    border: hidden;
    }

.btn-secondary{
    background-color: var(--color-pinkhover);
    border: hidden;
    }
      
.btn-secondary:hover{
    background-color: var(--color-pink);
    border: hidden;
    }
    
.btn-secondary:active{
    background-color: var(--color-pink);
    border: hidden;
    }
    
.btn-secondary:focus{
    background-color: var(--color-pink);
    border: hidden;
    }

    #login {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #login h1{
        text-align: center;
        font-family: 'Orelega One', cursive;
        font-size:var(--text-big);
        padding-bottom: 30px;
    }
    
    #login .container {
        width: 500px;
        height: 500px;
        text-align: center;
        background-color: transparent;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        padding: 40px 30px;
        margin-top: 50px;
    }
    
    #login input {
        display: block;
        margin: 10px auto;
        width: 70%;
        padding: 10px 20px;
        border-radius: 50px;
        border: 2px solid grey;
        background-color: transparent;
        color: black;
        margin-bottom: 20px;
    }
    
    #login input[type="submit"]{
        background: #dfa167;
        border: none;
        outline: none;
        letter-spacing: .04em;
        font-size: 15px;
        padding: 15px 10px;
        width: 50%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
    #login p {
        font-size: var(--text-small);
    }
    
    #login input[type="submit"]:hover{
        background: #966c45;
        border: none;
        outline: none;
        letter-spacing: .04em;
        font-size: 15px;
        padding: 15px 10px;
        width: 50%; 
    
    }
    
    #login input:focus {
        outline: none;
    }
    
    #login .btn {
        margin: 0px;
        border: 0;
        padding: 10px 30px;
        border-radius: 50px;
        background-color: #dfa167;
        color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        margin-bottom: 30px;
    }
    
    #login a {
        text-decoration: underline;
        color: var(--color-dark);
    }
    
    #login label {
        display: block;
        margin-bottom: 0;
        margin-top: 5px;
        font-size: var(--text-small);
    }
    